*{
  margin: 0px;
  padding: 0px;
}

.container{
    width: 300px;
  /* margin:0px 600px; */
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 10px;
}
.head{
  text-align: center;
}
.form{
width: 300px;
}